$icon-font-path: '../fonts/';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//variables
$first-color: #303948;
$second-color: #4B5A71;
$third-color: #F7FAFF;
$accent-color: #FAFBFD;
$orange-color: #F15050;
$light-gray: #898989;
$blue-tone: #00BCE9;

#wrapper {
  display: flex;
  flex-direction: row;
}

#sidebar {
  width: 250px;
  background-color: $third-color;
  color: #333;

  //column flex with space below that grows to push footer to bottom
  display: flex;
  flex-direction: column;

  .navbar {
    background-color: $third-color;
    border-bottom: 2px solid $light-gray;
    margin-bottom: 25px;
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0.30rem;
    color: $first-color ;

    span {
      position: relative;
      top: 7px;
      margin-right: 15px;
      color: $orange-color;
    }
  }

  ul.list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      height: 45px;
      margin-left: 20px;
      padding-top: 15px;

      i {
        display: inline-block;
        width: 35px;
      }

      a {
        color: $first-color;
        text-decoration: none;

        &:hover {
          color: $orange-color;
        }

        &:active,
        &.active {
          color: $orange-color;
        }
      }
    }
  }

  //empty div with flex-grow to push aside footer to bottom of total height
  .spacer {
    flex-grow: 1;
    display: inline-block;
    min-height: 5px;
  }

  footer {
    background-color: $accent-color;
    border-top: 1px solid $light-gray;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        padding: 6px;
        width: 23%;
        text-align: center;

        a {
          // color: $light-gray;
          color: #A2A7AE;

          &:hover {
            color: $orange-color;
          }
        }
      }
    }
  }
}

#content {
  flex-grow: 1;
  background-color: $first-color;
  color: #FFF;

  .navbar {
    background-color: $second-color;

    a {
      color: $third-color;
    }

    #export-button {
      position: relative;
      top: 5px;
    }

    #notification {
      position: relative;
      left: 15px;

      span {
        position: relative;
        right: 10px;
        bottom: 8px;
        border-radius: 25px;
      }
    }

    #search-form {
      position: relative;
      top: 6px;

      input {
        background-color: $first-color;
        width: 150px;
        border: none;
        color: $accent-color;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
      }

      .input-group-addon {
        background-color: $first-color;
        border: none;
        color: $accent-color;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }

    #task-menu {

      .dropdown-menu {
        left: -115px;
        top: 53px;
        background-color: $orange-color;
        color: $accent-color;
        border-radius: 0;

        .dropdown-item:hover {
          background-color: darken($orange-color, 5%);
        }
      }

      &.open {
        > a {
          color: $orange-color;
        }
      }
    }

    #profile {
      width: 35px;
      padding: 0;
    }
  }

  .graph {

    .wrapper {
      padding: 25px;

      canvas {
        width: 700px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .panels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;

    .panel {
      flex: auto;
      width: 30%;
      height: 250px;

      .inner {
        margin: 0 20px;
        min-height: 250px;
        background-color: lighten($first-color, 5%);
        box-shadow: 0px 8px 13px 0px darken($first-color, 3%);

        .heading {
          background-color: $second-color;
          text-align: center;
          height: 35px;
          border-bottom: 2px solid darken($second-color, 10%);

          > div {
            display: inline-block;

          }

          .title {
            width: 80%;
            margin: 5px;
            text-transform: uppercase;
          }
        }

        ul.list {
          margin: 0;
          padding: 5px 15px;

          li {
            list-style: none;
            display: flex;
            flex-flow: row;
            border-bottom: 1px solid $second-color;
            padding: 7px 0;
          }

          .icon {
            align-self: flex-start;
            width: 15%;
            padding-top: 3px;
            text-align: center;
            color: $second-color;
          }

          .body {
            align-self: flex-end;
            font-size: 14px;

            .link {
              color: $blue-tone;
            }

            .actions {
              color: $light-gray;

              .active {
                color: $orange-color;
              }
            }
          }
        }

        #traffic-panel {

          #selection {
            height: 40px;

            p {
              padding: 8px 25px;
              text-align: right;
              color: $light-gray;
            }
          }

          ul {
            margin: 0;
            padding: 5px 15px;

            li {
              list-style: none;
              display: flex;

              .title {
                width: 40%;
                align-self: flex-start;
              }

              .prog-indicator {
                align-self: flex-end;
                padding-top: 4px;
              }
            }
          }
        }

        #users-panel {

          ul {
            margin: 0;
            padding: 10px 20px;

            li {
              list-style: none;
              display: inline-block;
              width: 70px;
              height: 70px;
              text-align: center;
              padding-top: 5px;
              margin: 8px;

              i {
                color: $blue-tone;
              }
            }
          }
        }

        .options {
          text-align: center;
          color: $light-gray;
        }
      }

    }
  }
}

#content-footer {
  margin: 20px 25px 0 25px;
  padding: 15px 0;
  font-size: small;
  border-top: 2px solid $second-color;

  a,
  a:hover {
    color: $blue-tone;
  }
}

//bootstrap buttons
.btn-action {
  background-color: $orange-color;
  border-radius: 25px;
  text-transform: uppercase;

  &:hover {
    background-color: darken($orange-color, 5%);
  }
}

//font-awesome override - 2x is too big, 1x is too small
.fa-1half {
  font-size: 1.25em;
}
